.date-picker-day{
    &__header{
        text-align: center;
        border-bottom: 1px solid #DBE0E9;
        padding: 10px 0;
        position: relative;
        .header{
            &__begin-date{
                width: 150px;
            }
            &__end-date{
                width: 150px;
            }
            &__range-date{
                width: 90px;
            }
            &__range-date-time{
                width:70px;
            }
            &__single-date{
                width: 320px;
            }
            &__single-date-time{
                width: 150px;
            }
            &__time-picker-box-line{
                position: absolute;
                top: 80px;
                left: 190px;
                width: 130px;
                height: 2px;
                background: #eee;
                z-index: 3;
                font-weight: 600;
            }
            
        }
    }
    &__time-picker-box{
        position: absolute;
        top: 50px;
        left: 260px;
        display: flex;
        width: 130px;
        justify-content: space-between;
        color: #666;
        background: #fff;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        border-radius: 2px;
        z-index: 2;
        text-align: center;
        ::-webkit-scrollbar {
            display: none;
        }
        .time-picker-box{
            &__item{
                flex: 1;
                height: 200px;
                overflow: auto;
                padding-bottom: 168px;
                border-right: 1px solid #dbe0e9;
                .item{
                    &__list-item{
                        height: 32px;
                        line-height: 32px;
                        font-size: 12px;
                        color: #999;
                        cursor: pointer;
                        &:hover{
                            background: #f5f7fa;
                        }
                        .list-item{
                            
                        }
                    }
                    &__list-item-chosen{
                        color: #000;
                        background: #f3f3f3;
                    }
                    
                }
            }
            &__item-second{
                border-right: none;
            }
        }
    }
    &__body{
        padding: 10px;
        .body{
            &__header{
                display: flex;
                justify-content: center;
                .header{
                    &__item{
                        margin: 0 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .item{
                            &__date{
                                display: inline-block;
                                width: 58px;
                                text-align: center;
                                margin: 0 10px;
                                font-size: 12px;
                            }
                            &__btn{
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                            }
                            &__left-btn{
                                background: url(../../img/left2.png) center center no-repeat;
                            }
                            &__right-btn{
                                background: url(../../img/right2.png) center center no-repeat;
                            }
                        }
                    }
                }
            }

            &__calendar-wrap{
                margin-top: 10px;
            }
        }
    }
    .date-picker-day__body{
        .item__btn.item__left-btn{
            &:hover{
                background: url(../../img/left.png) center center no-repeat;
            }
        }
        .item__btn.item__right-btn{
            &:hover{
                background: url(../../img/right.png) center center no-repeat;
            }
        }
    }
    
    .body__calendar-wrap{
        table{
            width: 100%;
            // opacity: 0.47;
            font-size: 12px;
            color: #aaa;
            th,td{
                text-align: center;
                padding: 10px 0;
            }
            td{
                cursor: pointer;
                width: 40px;
                height: 40px;
                position: relative;
                &.day-in-month{
                    color: #333;
                }
                &:hover{
                    background: rgba(89,183,91,0.19);
                }
                &.unarrive-day{
                    background: rgba(89,183,91,0.19);
                }
                &.day-out-range{
                    color: #aaa;
                }
                &.hover-time-range{
                    background: rgba(89,183,91,0.19);
                }
                &.chosen-begin-date,&.chosen-end-date{
                    background: #59B75B;
                    color: #fff;
                }
                .today{
                    display: inline-block;
                    transform: scale(0.8);
                    position: absolute;
                    width: 100%;
                    left: -2px;
                    bottom: 3px;
                }
            }
        }
    }
}