<div class="date-picker-quarter">
    <div class="date-picker-quarter__header">
        <input type="text" 
               placeholder="选择季度" 
               class="header__date-range" 
               v-model="quarterText"
               disabled>
    </div>
    <div class="date-picker-quarter__body">
        <div class="body__header">
            <div class="header__year header__item">
                <span class="item__btn item__left-btn" @click="yearClick(-1)"></span>
                <span class="item__date">{{viewYear}}年</span>
                <span class="item__btn item__right-btn" @click="yearClick(1)"></span>
            </div>
        </div>

        <ul class="body__quarter-wrap">
            <li v-for="item in quarterList" 
                class="quarter-wrap__item"
                :class="{'quarter-wrap__item-chosen': chosenQuarter === item.value , 'quarter-wrap__item-unchooseable': !item.hasFinish}"
                @click="chooseQuarter($index)">
                {{item.name}}
            </li>
        </ul>
    </div>
</div>